{{ 'section-text-block.css' | asset_url | stylesheet_tag }}

{% style %}
  {% if section.settings.title_font_select_mobile == 'shopify' %}
    {{ section.settings.title_font_picker_mobile | font_face: font_display: 'swap' }}
  {% endif %}
  {% if section.settings.title_font_select_desktop == 'shopify' %}
    {{ section.settings.title_font_picker_desktop | font_face: font_display: 'swap' }}
  {% endif %}
  {% if section.settings.description_font_select_mobile == 'shopify' %}
    {{ section.settings.description_font_picker_mobile | font_face: font_display: 'swap' }}
  {% endif %}
  {% if section.settings.description_font_select_desktop == 'shopify' %}
    {{ section.settings.description_font_picker_desktop | font_face: font_display: 'swap' }}
  {% endif %}
  {% if section.settings.byline_font_select_mobile == 'shopify' %}
    {{ section.settings.byline_font_picker_mobile | font_face: font_display: 'swap' }}
  {% endif %}
  {% if section.settings.byline_font_select_desktop == 'shopify' %}
    {{ section.settings.byline_font_picker_desktop | font_face: font_display: 'swap' }}
  {% endif %}

  {% if section.settings.is_max_width %}
    #shopify-section-{{ section.id }} .s-text-block__container {
      max-width: {{ section.settings.max_width | append: 'px'}};
      margin: 0 auto;
    }
  {% endif %}

  #shopify-section-{{ section.id }} .s-text-block {
    padding-top: {{ section.settings.margin_top_mobile | append: 'px' }};
    padding-bottom: {{ section.settings.margin_bottom_mobile | append: 'px' }};
    background-color: {{ section.settings.background_color_mobile }};
  }

  #shopify-section-{{ section.id }} .s-text-block__container {
    padding-top: {{ section.settings.padding_top_mobile | append: 'px' }};
    padding-bottom: {{ section.settings.padding_bottom_mobile | append: 'px' }};
  }

  #shopify-section-{{ section.id }} .s-text-block__title :where(p, h1, h2, h3, h4, h5, h6) {
    {% if section.settings.title_font_select_mobile == 'shopify' %}
      font-family: {{ section.settings.title_font_picker_mobile.family }}, {{ section.settings.title_font_picker_mobile.fallback_families | default: 'sans-serif' }};
    {% else %}
      font-family: var(--font-{{ section.settings.title_font_select_mobile }});
    {% endif %}
    font-weight: {{ section.settings.title_font_weight_mobile }};
    font-size: {{ section.settings.title_font_size_mobile | append: 'px' }};
    color: {{ section.settings.title_color_mobile }};
    letter-spacing: {{ section.settings.title_letter_spacing_mobile | append: 'px' }};
    line-height: {{ section.settings.title_line_height_mobile | append: '%' }};
  }

  #shopify-section-{{ section.id }} .s-text-block__title {
    text-align: {{ section.settings.title_align_mobile }};
    margin-bottom: {{ section.settings.title_margin_bottom_mobile | append: 'px' }};
    {% if section.settings.title_max_width_mobile > 0 %}
      max-width: {{ section.settings.title_max_width_mobile | append: '%' }};
      {% case section.settings.title_align_mobile %}
        {% when 'left' %}
          margin-left: 0;
          margin-right: auto;
        {% when 'right' %}
          margin-left: auto;
          margin-right: 0;
        {% else %}
          margin: 0 auto;
      {% endcase %}
    {% endif %}
  }

  #shopify-section-{{ section.id }} .s-text-block__description :where(p, h1, h2, h3, h4, h5, h6) {
    {% if section.settings.description_font_select_mobile == 'shopify' %}
      font-family: {{ section.settings.description_font_picker_mobile.family }}, {{ section.settings.description_font_picker_mobile.fallback_families | default: 'sans-serif' }};
    {% else %}
      font-family: var(--font-{{ section.settings.description_font_select_mobile }});
    {% endif %}
    font-weight: {{ section.settings.description_font_weight_mobile }};
    font-size: {{ section.settings.description_font_size_mobile | append: 'px' }};
    color: {{ section.settings.description_color_mobile }};
    letter-spacing: {{ section.settings.description_letter_spacing_mobile | append: 'px' }};
    line-height: {{ section.settings.description_line_height_mobile | append: '%' }};
  }

  #shopify-section-{{ section.id }} .s-text-block__description {
    text-align: {{ section.settings.description_align_mobile }};
    margin-bottom: {{ section.settings.description_margin_bottom_mobile | append: 'px' }};
    {% if section.settings.description_max_width_mobile > 0 %}
      max-width: {{ section.settings.description_max_width_mobile | append: '%' }};
      {% case section.settings.description_align_mobile %}
        {% when 'left' %}
          margin-left: 0;
          margin-right: auto;
        {% when 'right' %}
          margin-left: auto;
          margin-right: 0;
        {% else %}
          margin: 0 auto;
      {% endcase %}
    {% endif %}
  }

  #shopify-section-{{ section.id }} .s-text-block__byline {
    {% if section.settings.byline_font_select_mobile == 'shopify' %}
      font-family: {{ section.settings.byline_font_picker_mobile.family }}, {{ section.settings.byline_font_picker_mobile.fallback_families | default: 'sans-serif' }};
    {% else %}
      font-family: var(--font-{{ section.settings.byline_font_select_mobile }});
    {% endif %}
    font-weight: {{ section.settings.byline_font_weight_mobile }};
    font-size: {{ section.settings.byline_font_size_mobile | append: 'px' }};
    color: {{ section.settings.byline_color_mobile }};
    text-align: {{ section.settings.byline_align_mobile }};
    letter-spacing: {{ section.settings.byline_letter_spacing_mobile | append: 'px' }};
    line-height: {{ section.settings.byline_line_height_mobile | append: '%' }};
    margin-bottom: {{ section.settings.byline_margin_bottom_mobile | append: 'px' }};
  }

  @media (min-width: 768px) {
    #shopify-section-{{ section.id }} .s-text-block {
      padding-top: {{ section.settings.margin_top | append: 'px' }};
      padding-bottom: {{ section.settings.margin_bottom | append: 'px' }};
      background-color: {{ section.settings.background_color }};
    }

    #shopify-section-{{ section.id }} .s-text-block__container {
      padding-top: {{ section.settings.padding_top | append: 'px' }};
      padding-bottom: {{ section.settings.padding_bottom | append: 'px' }};
    }

    #shopify-section-{{ section.id }} .s-text-block__title :where(p, h1, h2, h3, h4, h5, h6) {
      {% if section.settings.title_font_select_desktop == 'shopify' %}
        font-family: {{ section.settings.title_font_picker_desktop.family }}, {{ section.settings.title_font_picker_desktop.fallback_families | default: 'sans-serif' }};
      {% else %}
        font-family: var(--font-{{ section.settings.title_font_select_desktop }});
      {% endif %}
      font-weight: {{ section.settings.title_font_weight_desktop }};
      font-size: {{ section.settings.title_font_size_desktop | append: 'px' }};
      color: {{ section.settings.title_color_desktop }};
      letter-spacing: {{ section.settings.title_letter_spacing_desktop | append: 'px' }};
      line-height: {{ section.settings.title_line_height_desktop | append: '%' }};
    }

    #shopify-section-{{ section.id }} .s-text-block__title {
      text-align: {{ section.settings.title_align_desktop }};
      margin-bottom: {{ section.settings.title_margin_bottom_desktop | append: 'px' }};
      {% if section.settings.title_max_width_desktop > 0 %}
        max-width: {{ section.settings.title_max_width_desktop | append: '%' }};
        {% case section.settings.title_align_desktop %}
          {% when 'left' %}
            margin-left: 0;
            margin-right: auto;
          {% when 'right' %}
            margin-left: auto;
            margin-right: 0;
          {% else %}
            margin: 0 auto;
        {% endcase %}
      {% endif %}
    }

    #shopify-section-{{ section.id }} .s-text-block__description :where(p, h1, h2, h3, h4, h5, h6) {
      {% if section.settings.description_font_select_desktop == 'shopify' %}
        font-family: {{ section.settings.description_font_picker_desktop.family }}, {{ section.settings.description_font_picker_desktop.fallback_families | default: 'sans-serif' }};
      {% else %}
        font-family: var(--font-{{ section.settings.description_font_select_desktop }});
      {% endif %}
      font-weight: {{ section.settings.description_font_weight_desktop }};
      font-size: {{ section.settings.description_font_size_desktop | append: 'px' }};
      color: {{ section.settings.description_color_desktop }};
      letter-spacing: {{ section.settings.description_letter_spacing_desktop | append: 'px' }};
      line-height: {{ section.settings.description_line_height_desktop | append: '%' }};
    }

    #shopify-section-{{ section.id }} .s-text-block__description {
      text-align: {{ section.settings.description_align_desktop }};
      margin-bottom: {{ section.settings.description_margin_bottom_desktop | append: 'px' }};
      {% if section.settings.description_max_width_desktop > 0 %}
        max-width: {{ section.settings.description_max_width_desktop | append: '%' }};
        {% case section.settings.description_align_desktop %}
          {% when 'left' %}
            margin-left: 0;
            margin-right: auto;
          {% when 'right' %}
            margin-left: auto;
            margin-right: 0;
          {% else %}
            margin: 0 auto;
        {% endcase %}
      {% endif %}
    }

    #shopify-section-{{ section.id }} .s-text-block__byline {
      {% if section.settings.byline_font_select_desktop == 'shopify' %}
        font-family: {{ section.settings.byline_font_picker_desktop.family }}, {{ section.settings.byline_font_picker_desktop.fallback_families | default: 'sans-serif' }};
      {% else %}
        font-family: var(--font-{{ section.settings.byline_font_select_desktop }});
      {% endif %}
      font-weight: {{ section.settings.byline_font_weight_desktop }};
      font-size: {{ section.settings.byline_font_size_desktop | append: 'px' }};
      color: {{ section.settings.byline_color_desktop }};
      text-align: {{ section.settings.byline_align_desktop }};
      letter-spacing: {{ section.settings.byline_letter_spacing_desktop | append: 'px' }};
      line-height: {{ section.settings.byline_line_height_desktop | append: '%' }};
      margin-bottom: {{ section.settings.byline_margin_bottom_desktop | append: 'px' }};
    }
  }
{% endstyle %}

<s-text-block
  class="s-text-block"
  {% if request.visual_preview_mode %}
    style="background-color: #fff;"
  {% endif %}
>
  <div
    class="s-text-block__container"
    {% if request.visual_preview_mode %}
      style="padding: 50px 0;"
    {% endif %}
  >
    <div class="s-text-block__content">
      {% assign title_desktop = section.settings.title %}
      {% assign title_mobile = section.settings.title_mobile | default: title_desktop %}

      {% if title_desktop != blank %}
        <div
          class="s-text-block__title s-text-block__title--desktop"
          {% if request.visual_preview_mode %}
            style="text-align: center; margin-bottom: 12px; font-size: 48px;"
          {% endif %}
        >
          {{ title_desktop }}
        </div>
      {% endif %}

      {% if title_mobile != blank %}
        <div class="s-text-block__title s-text-block__title--mobile">
          {{ title_mobile }}
        </div>
      {% endif %}

      {% assign description_desktop = section.settings.description %}
      {% assign description_mobile = section.settings.description_mobile | default: description_desktop %}

      {% if description_desktop != blank %}
        <div
          class="s-text-block__description s-text-block__description--desktop"
          {% if request.visual_preview_mode %}
            style="text-align: center; font-size: 30px;"
          {% endif %}
        >
          {{ description_desktop }}
        </div>
      {% endif %}

      {% if description_mobile != blank %}
        <div class="s-text-block__description s-text-block__description--mobile">
          {{ description_mobile }}
        </div>
      {% endif %}

      {% if section.settings.byline != blank %}
        <p class="s-text-block__byline">
          {{ section.settings.byline }}
        </p>
      {% endif %}
    </div>
  </div>
</s-text-block>

{% schema %}
{
  "name": "Text block",
  "settings": [
    {
      "type": "header",
      "content": "Spacing Section Settings (Desktop)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Margin Top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 0
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "header",
      "content": "Spacing Section Settings (Mobile)"
    },
    {
      "type": "range",
      "id": "margin_top_mobile",
      "label": "Margin Top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_mobile",
      "label": "Margin Bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Padding Top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Padding Bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 0
    },
    {
      "type": "color",
      "id": "background_color_mobile",
      "label": "Background Color"
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "is_max_width",
      "label": "Enable Section Max Width",
      "default": true
    },
    {
      "id": "max_width",
      "label": "Section max width",
      "type": "range",
      "min": 980,
      "max": 2980,
      "step": 20,
      "unit": "px",
      "default": 1440
    },
    {
      "type": "header",
      "content": "Title Content Settings"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title Text"
    },
    {
      "type": "richtext",
      "id": "title_mobile",
      "label": "Title Text (Mobile Version)",
      "info": "If you want to have a different title for mobile, you can set it here. Otherwise, the desktop title will be used."
    },
    {
      "type": "header",
      "content": "Title Settings (Desktop)"
    },
    {
      "type": "select",
      "id": "title_font_select_desktop",
      "label": "Font Family (Predefined)",
      "options": [
        {
          "value": "heading",
          "label": "Heading"
        },
        {
          "value": "body",
          "label": "Body"
        },
        {
          "value": "shopify",
          "label": "Shopify"
        }
      ],
      "default": "body"
    },
    {
      "type": "font_picker",
      "id": "title_font_picker_desktop",
      "label": "Font Family (Shopify)",
      "default": "mono"
    },
    {
      "type": "range",
      "id": "title_font_weight_desktop",
      "label": "Font Weight",
      "min": 100,
      "max": 900,
      "step": 100,
      "default": 400
    },
    {
      "type": "range",
      "id": "title_font_size_desktop",
      "label": "Font Size",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 1,
      "default": 42
    },
    {
      "type": "color",
      "id": "title_color_desktop",
      "label": "Text Color",
      "default": "#0B0A0A"
    },
    {
      "type": "select",
      "id": "title_align_desktop",
      "label": "Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "number",
      "id": "title_letter_spacing_desktop",
      "label": "Letter Spacing (px)"
    },
    {
      "type": "range",
      "id": "title_line_height_desktop",
      "label": "Line Height",
      "min": 100,
      "max": 200,
      "step": 1,
      "unit": "%",
      "default": 120
    },
    {
      "type": "range",
      "id": "title_margin_bottom_desktop",
      "label": "Margin Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 8
    },
    {
      "type": "range",
      "id": "title_max_width_desktop",
      "label": "Max Width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 0
    },
    {
      "type": "header",
      "content": "Title Settings (Mobile)"
    },
    {
      "type": "select",
      "id": "title_font_select_mobile",
      "label": "Font Family",
      "options": [
        {
          "value": "heading",
          "label": "Heading"
        },
        {
          "value": "body",
          "label": "Body"
        },
        {
          "value": "shopify",
          "label": "Shopify"
        }
      ],
      "default": "body"
    },
    {
      "type": "font_picker",
      "id": "title_font_picker_mobile",
      "label": "Font Family (Shopify)",
      "default": "mono"
    },
    {
      "type": "range",
      "id": "title_font_weight_mobile",
      "label": "Font Weight",
      "min": 100,
      "max": 900,
      "step": 100,
      "default": 400
    },
    {
      "type": "range",
      "id": "title_font_size_mobile",
      "label": "Font Size",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 1,
      "default": 32
    },
    {
      "type": "color",
      "id": "title_color_mobile",
      "label": "Text Color",
      "default": "#0B0A0A"
    },
    {
      "type": "select",
      "id": "title_align_mobile",
      "label": "Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "number",
      "id": "title_letter_spacing_mobile",
      "label": "Letter Spacing (px)"
    },
    {
      "type": "range",
      "id": "title_line_height_mobile",
      "label": "Line Height",
      "min": 100,
      "max": 200,
      "step": 1,
      "unit": "%",
      "default": 120
    },
    {
      "type": "range",
      "id": "title_margin_bottom_mobile",
      "label": "Margin Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 8
    },
    {
      "type": "range",
      "id": "title_max_width_mobile",
      "label": "Max Width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 0
    },
    {
      "type": "header",
      "content": "Description Content"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description Text"
    },
    {
      "type": "richtext",
      "id": "description_mobile",
      "label": "Description Text (Mobile Version)",
      "info": "If you want to have a different description for mobile, you can set it here. Otherwise, the desktop description will be used."
    },
    {
      "type": "header",
      "content": "Description Settings (Desktop)"
    },
    {
      "type": "select",
      "id": "description_font_select_desktop",
      "label": "Font Family (Predefined)",
      "options": [
        {
          "value": "heading",
          "label": "Heading"
        },
        {
          "value": "body",
          "label": "Body"
        },
        {
          "value": "shopify",
          "label": "Shopify"
        }
      ],
      "default": "body"
    },
    {
      "type": "font_picker",
      "id": "description_font_picker_desktop",
      "label": "Font Family (Shopify)",
      "default": "mono"
    },
    {
      "type": "range",
      "id": "description_font_weight_desktop",
      "label": "Font Weight",
      "min": 100,
      "max": 900,
      "step": 100,
      "default": 400
    },
    {
      "type": "range",
      "id": "description_font_size_desktop",
      "label": "Font Size",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 1,
      "default": 16
    },
    {
      "type": "color",
      "id": "description_color_desktop",
      "label": "Text Color",
      "default": "#0B0A0A"
    },
    {
      "type": "select",
      "id": "description_align_desktop",
      "label": "Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "number",
      "id": "description_letter_spacing_desktop",
      "label": "Letter Spacing (px)"
    },
    {
      "type": "range",
      "id": "description_line_height_desktop",
      "label": "Line Height",
      "min": 100,
      "max": 200,
      "step": 1,
      "unit": "%",
      "default": 150
    },
    {
      "type": "range",
      "id": "description_margin_bottom_desktop",
      "label": "Margin Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "description_max_width_desktop",
      "label": "Max Width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 0
    },
    {
      "type": "header",
      "content": "Description Settings (Mobile)"
    },
    {
      "type": "select",
      "id": "description_font_select_mobile",
      "label": "Font Family",
      "options": [
        {
          "value": "heading",
          "label": "Heading"
        },
        {
          "value": "body",
          "label": "Body"
        },
        {
          "value": "shopify",
          "label": "Shopify"
        }
      ],
      "default": "body"
    },
    {
      "type": "font_picker",
      "id": "description_font_picker_mobile",
      "label": "Font Family (Shopify)",
      "default": "mono"
    },
    {
      "type": "range",
      "id": "description_font_weight_mobile",
      "label": "Font Weight",
      "min": 100,
      "max": 900,
      "step": 100,
      "default": 400
    },
    {
      "type": "range",
      "id": "description_font_size_mobile",
      "label": "Font Size",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 1,
      "default": 14
    },
    {
      "type": "color",
      "id": "description_color_mobile",
      "label": "Description Color",
      "default": "#0B0A0A"
    },
    {
      "type": "select",
      "id": "description_align_mobile",
      "label": "Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "number",
      "id": "description_letter_spacing_mobile",
      "label": "Letter Spacing (px)"
    },
    {
      "type": "range",
      "id": "description_line_height_mobile",
      "label": "Line Height",
      "min": 100,
      "max": 200,
      "step": 1,
      "unit": "%",
      "default": 150
    },
    {
      "type": "range",
      "id": "description_margin_bottom_mobile",
      "label": "Margin Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "description_max_width_mobile",
      "label": "Max Width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 0
    },
    {
      "type": "header",
      "content": "Byline Content"
    },
    {
      "type": "text",
      "id": "byline",
      "label": "Byline Text",
      "info": "Example: — FirstName LastName"
    },
    {
      "type": "header",
      "content": "Byline Settings (Desktop)"
    },
    {
      "type": "select",
      "id": "byline_font_select_desktop",
      "label": "Font Family (Predefined)",
      "options": [
        {
          "value": "heading",
          "label": "Heading"
        },
        {
          "value": "body",
          "label": "Body"
        },
        {
          "value": "shopify",
          "label": "Shopify"
        }
      ],
      "default": "body"
    },
    {
      "type": "font_picker",
      "id": "byline_font_picker_desktop",
      "label": "Font Family (Shopify)",
      "default": "mono"
    },
    {
      "type": "range",
      "id": "byline_font_weight_desktop",
      "label": "Font Weight",
      "min": 100,
      "max": 900,
      "step": 100,
      "default": 400
    },
    {
      "type": "range",
      "id": "byline_font_size_desktop",
      "label": "Font Size",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 1,
      "default": 16
    },
    {
      "type": "color",
      "id": "byline_color_desktop",
      "label": "Text Color",
      "default": "#776869"
    },
    {
      "type": "select",
      "id": "byline_align_desktop",
      "label": "Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "number",
      "id": "byline_letter_spacing_desktop",
      "label": "Letter Spacing (px)"
    },
    {
      "type": "range",
      "id": "byline_line_height_desktop",
      "label": "Line Height",
      "min": 100,
      "max": 200,
      "step": 1,
      "unit": "%",
      "default": 150
    },
    {
      "type": "header",
      "content": "Byline Settings (Mobile)"
    },
    {
      "type": "select",
      "id": "byline_font_select_mobile",
      "label": "Font Family",
      "options": [
        {
          "value": "heading",
          "label": "Heading"
        },
        {
          "value": "body",
          "label": "Body"
        },
        {
          "value": "shopify",
          "label": "Shopify"
        }
      ],
      "default": "body"
    },
    {
      "type": "font_picker",
      "id": "byline_font_picker_mobile",
      "label": "Font Family (Shopify)",
      "default": "mono"
    },
    {
      "type": "range",
      "id": "byline_font_weight_mobile",
      "label": "Font Weight",
      "min": 100,
      "max": 900,
      "step": 100,
      "default": 400
    },
    {
      "type": "range",
      "id": "byline_font_size_mobile",
      "label": "Font Size",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 1,
      "default": 16
    },
    {
      "type": "color",
      "id": "byline_color_mobile",
      "label": "Byline Color",
      "default": "#776869"
    },
    {
      "type": "select",
      "id": "byline_align_mobile",
      "label": "Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "number",
      "id": "byline_letter_spacing_mobile",
      "label": "Letter Spacing (px)"
    },
    {
      "type": "range",
      "id": "byline_line_height_mobile",
      "label": "Line Height",
      "min": 100,
      "max": 200,
      "step": 1,
      "unit": "%",
      "default": 150
    }
  ],
  "enabled_on": {"templates": ["*"]},
  "presets": [
    {
      "name": "Text Block",
      "category": "Text",
      "settings": {
        "title": "<p>Lorem, ipsum.</p>",
        "description": "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p><p>Dolorum inventore totam laborum impedit aliquam distinctio commodi,</p><p>quasi quisquam ab dolorem similique quas id velit soluta dolores porro,</p><p>cum, dolore quod enim. Libero fugiat vero dolor facere</p><p>similique aliquam quaerat aspernatur!</p>"
      }
    }
  ]
}
{% endschema %}
